---
import "../styles/global.scss";
import BaseLayout from "../layouts/BaseLayout.astro";
import Navigation from "../components/Navigation.astro";
import Header from "../components/Header.astro";
import Greeting from "../components/Greeting";
import Footer from "../components/Footer.astro";

const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
	<h1>{pageTitle}</h1>
	<Greeting messages = {['Hi', 'Hello', 'Greetings', 'Howdy']} client:load />
</BaseLayout>

